.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(27, 27, 27);
}
.navbar li{
    float: left;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100; /* Ustala z-index na wartość większą niż inne elementy na stronie */
    display: flex;
    justify-content: center;
    user-select: none;
}
nav{
    border-radius: 14px; 
}
#changeBackground{
    cursor: pointer;
}